# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

my-express-app
node_modules
dist
dist-ssr
*.local

# Ignoriere alle .env Dateien
**/.env
env
**/env.php

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


ApiLv/node_modules
ApiLv/public/hot
ApiLv/public/storage
ApiLv/storage/*.key
ApiLv/vendor
ApiLv/.env
ApiLv/.env.backup
ApiLv/.phpunit.result.cache
ApiLv/docker-compose.override.yml
ApiLvHomestead.json
ApiLv/Homestead.yaml
ApiLv/npm-debug.log
ApiLv/yarn-error.log
ApiLv/.idea
ApiLv/.vscode
