.wes-an-matrix {
  .matrix-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;

    th,
    td {
      padding: 12px 15px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    thead {
      background-color: #0056b3;
      color: #ffffff;
      font-weight: bold;
      text-align: center;
    }

    th {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    tbody tr {
      transition: background-color 0.3s ease;
    }

    tbody tr:hover {
      background-color: #f1f1f1;
    }

    .header-subgroup-title,
    .header-subgroup-average,
    .header-stakeholder {
      color: #ffffff;
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: #002380;
        text-decoration: none;
      }
    }

    .group-title {
      font-weight: bold;
      background-color: #e9ecef;
      color: #0056b3;
    }

    .group-average {
      background-color: #f4f6f7;
      text-align: center;
    }

    .group-comments {
      background-color: #f4f6f7;
      text-align: center;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: #002380;
        text-decoration: none;
      }
    }

    .subgroup-title {
      font-style: italic;
      background-color: #f8f9fa;
    }

    .subgroup-average {
      background-color: #f8f9fa;
      text-align: center;
    }

    .stakeholder-average {
      text-align: center;
      color: #333;
    }

    .loading {
      text-align: center;
      padding: 20px;
      font-size: 18px;
      color: #007bff;
    }
  }

  // Add some responsive styling
  @media (max-width: 768px) {
    .matrix-table {
      font-size: 14px;
    }

    th,
    td {
      padding: 8px;
    }
  }

  // Add a loading spinner if needed
  .loading {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #007bff;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .stakeholder-average {
    /* Your default styling here */
  }

  .stakeholder-average.has-substakeholder {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: #3360da;

      text-decoration: underline;
    }
  }
}
